@import "colors";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}
body {
	position: relative;
	font-family: "Montserrat", sans-serif;
	background-color: $bg-color;
}

//section title
h2 {
	text-align: center;
	text-transform: uppercase;
}

//underline section title
.underline {
	margin: 20px auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

//colorized text in the title
.blue-text {
	color: $main-color;
}

//shadow on the nav after window.scrollY >= 200
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 0.6s;
}

// Navigation
nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 1;

	.nav-link,
	i {
		color: $white;
	}

	.nav-link:hover {
		color: $main-color;
	}
	.navbar-brand {
		font-weight: bold;
		color: $white;
	}

	.active {
		color: $main-color;
	}

	.fa-bars {
		padding: 10px;
	}
}

// Header & bg image
header {
	color: $white;

	h1 {
		font-size: 30px;
		text-transform: uppercase;
		z-index: 1;
	}

	p {
		font-size: 14px;
		z-index: 1;
	}

	.hero-img {
		position: relative;
		z-index: 0;
		height: 100vh;
		background: url(../img/hero-small.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}

	.hero-shadow {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.55);
	}

	.hero-text {
		display: flex;
		z-index: 1;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px;
		text-align: center;
		height: 100%;
	}

	.btn-outline-light {
		z-index: 1;
		text-transform: uppercase;
	}

	.fa-chevron-down {
		position: absolute;
		font-size: 30px;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%);
		color: $white;
	}
}

// About us section
.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: color 0.5s;
	}

	.aboutus-hover:hover {
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	color: $light-gray;
	background-image: url(../img/about-small.jpg);
	background-position: center;
	background-size: cover;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}

	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: color 0.5s;
	}

	.aboutus-hover:hover {
		color: $main-color;
	}
}

// Portfolio section

.portfolio {
	.slide {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
	}
	.carousel-item {
		position: relative;
		height: 400px;
	}

	.carousel-caption {
		position: absolute;
		height: 120px;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 20px 0;

		h5 {
			text-align: center;
			text-transform: uppercase;
		}
	}

	.carousel-indicators {
		padding-bottom: 20px;
	}
}

// Price section
.prices {
	.price-box {
		margin: 20px 10px;
		padding-top: 20px;
		background-color: $white;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
		transition: scale 0.2s ease-in-out;

		h3 {
			text-transform: uppercase;
			text-align: center;
		}

		i {
			font-weight: bold;
			font-size: 20px;
			padding: 0 4px;
		}

		.underline-price {
			margin: 20px auto 40px;
			width: 300px;
			height: 2px;
			background-color: $main-color;
		}

		.price-tag {
			font-weight: bold;
			font-size: 26px;
		}

		button {
			margin-bottom: 30px;
			padding: 10px;
			text-transform: uppercase;
		}
	}

	.price-footer {
		text-align: center;
		padding-top: 40px;
	}

	.price-box:hover {
		transform: scale(1.1);
	}
}

// Media query

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}

		p {
			font-size: 16px;
		}
	}

	.portfolio {
		.card {
			display: flex;
			align-items: center;
			justify-content: center;
			.card-img-top {
				height: 30%;
			}

			h5 {
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 48px;
		}

		p {
			font-size: 20px;
		}
	}

	.portfolio {
		.card {
			display: flex;
			align-items: center;
			justify-content: center;
			.card-img-top {
				height: 50%;
			}

			h5 {
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}

@media (min-width: 992px) {
	nav {
		height: 82px;
	}

	.aboutus-hero {
		position: relative;
		color: $light-gray;
		background-image: url(../img/about-big.jpg);
		background-position: center;
		background-size: cover;
		z-index: 0;
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			position: relative;
			height: 100vh;
			background: url(../img/hero-big.jpg);
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
		}
		.hero-text {
			font-size: 1.2rem;
		}
	}

	.prices {
		.price-footer {
			font-size: 18px;
		}
	}
}
